/* TABLET VERTICAL*/
@media screen and (min-width: 768px) and (max-width: 1024px){
    .content-wrap {width: 100%;}
    .content {width: 100%;}

    #home {position: relative; width: 100%; height: calc(100vh + 40px); background-image: url(../img/bg02.jpg); background-repeat: no-repeat; background-position: 50% 60%;}
    .home-wrap {width: 100%; height: 100%; margin: 0 auto; background-color: #00000060;}
    .main-wrap {display: block; position: relative; width: 300px; height: 300px; background-color: transparent; border: 2px solid #ffffffcc; padding: 9px; margin-right: auto; margin-left: auto;}
    .design-box {display: block; position: relative; width: 300px; height: 230px; background-color: #ffffffcc; padding-top: 70px;}
    .design-box h1 {display: block; width: 240px; margin: 0 auto;}
    .design-box h1 img {width: 240px; margin: 0 auto;}
    .design-box .typing {text-align: center; margin-top: 70px; letter-spacing: 1pt; font-weight: 300;}

    #about {position: relative; width: 100%; height: 600px; background-color: #99ff99;}
    .about-wrap {width: 100%; height: 100%; background-color: #000000; margin: 0 auto;}
    .img-area {float: left; width: 50%; height: 100%; background-color: #ececec; overflow: hidden;}
    .my-pic {width: 100%; height: 120%; background-image: url(../img/personal02.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50% 30%; }
    .bright {width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.2);}
    .text-area {width: 50%; height: 100%; background-color: #ffffff; float: right; overflow: hidden;}
    .slide-wrap {cursor: move;width: 100%; height: 500px; margin-left: 0; }
    .speak-wrap { width: 50%; height: 500px; float: left;}
    .speak {width: 460px; margin:180px auto 0; line-height: 26px; font-size: 14px; letter-spacing: 0.6pt;}
    .profile-wrap {width: 50%; height: 500px; float: left;}
    .profile {width: 400px; margin: 180px auto 0;}
    .profile li {margin: 10px 0 0 0;}
    .profile li span.title {display: inline-block; width: 68px;font-size: 14px; font-weight: 700; margin-right: 10px;}
    .profile li span.sub {font-size: 14px; margin-left: 10px;}
    .slide-dot {}
    .dot-ul {width: 52px; height: 12px; margin: 60px auto 0;}
    .dot-li {float: left; margin: 0 6px;}
    .dot-btn {display: none; width: 12px; height: 12px; border-radius: 50%; background-color: #e3e3e3; font-size: 0; color: transparent; text-indent: -9999;}
    .sel-dot {background-color: #606060;}
    .slick-dots {width: 36px; margin: 30px auto 0;}
    .slick-dots > li {float: left; width: 12px; height: 12px; font-size: 0; text-indent: -9999; color: transparent; background-color: #e3e3e3; border-radius: 6px; cursor:pointer; margin: 0 3px;}
    .slick-dots > li.slick-active {background-color: #606060;}

    #identity {position: relative; width: 100%; height: 400px; background-color: #f8f8f8;}
    .identity-wrap {width: 100%; height: 100%;  margin: 0 auto;}
    .identity-wrap h2 {font-size: 52px; font-weight: 700; text-transform: uppercase; text-align: center; padding-top: 46px;}
    .identity-wrap .desc {font-size: 15px; font-weight: 300; text-align: center; line-height: 24px; letter-spacing: 0.4pt; margin-top: 30px;}
    .identity-logo {width: 100%; height: 400px;}
    .identity-logo img{position: absolute; right: 0; bottom: 0; margin-bottom: -60px; width: 1000px; opacity: 0.2;}

    #skills {position: relative; width: 100%; height: 640px; background-color: #ffffff;}
    .skills-wrap {width: 100%;height: 100%; background-color: #ffffff; margin: 0 auto;}
    .skills-desc {position: relative; display: inline-block; width: 270px; margin-top: 90px;margin-left: 100px; margin-right: 100px; vertical-align: top;}
    .skills-desc h2 {font-size: 30px; font-weight: 700; text-transform: uppercase;}
    .skills-desc p {}
    .skills-bar {position: relative; display: inline-block; width: 54%; margin-top: 90px;}
    .skills-bar-ul {width: 100%;}
    .skills-bar-li {clear: both; width: 100%; margin-bottom: 40px;}
    .skills-bar-li dl {}
    .skills-title {margin-bottom: 4px; margin-left: 4px; font-size: 14px; font-weight: 500;}
    .skills-graph-empty {float: left; display: block; width: 100%; height: 6px; padding: 2px 2px; background-color: #f2f2f2; border-radius: 5px;}
    .skills-graph {display: block; width: 80%; height: 6px; background-color: #2f2f2f; padding-right: 17px; border-radius: 3px;}
    .skills-num {position: absolute; display: block; width: 30px; height: 16px; padding: 2px 2px; margin-top: -24px; margin-left: 80%; line-height: 16px; font-size: 10px; text-align: center; background-color: #2f2f2f; color: #fff;}
    .skills-num span {}

    #work {position: relative; width: 100%; height: 1020px; background-color: #eee;}
    .work-wrap {width: 100%;height: 100%; background-color: #eee; margin: 0 auto;}
    .work-desc {position: relative; display: inline-block; width: 270px; margin-top: 90px; margin-left: 100px; margin-right:100px; vertical-align: top;}
    .work-desc h2 {font-size: 30px; font-weight: 700; text-transform: uppercase;}
    .work-desc p {}
    .work-list {position:relative; display: inline-block; width: 54%; margin-top: 90px;}
    .work-list-ul {}
    .work-list-li {width: 100%; height: 260px; overflow: hidden; margin-bottom: 20px;}
    .work-list-li:first-child a {position:relative; display: block; width: 100%; height: 100%; background-image: url(../img/bg01.jpg); background-position: 50% 50%; background-repeat:no-repeat;}
    .work-list-li:nth-child(2) a {position: relative; display: block; width: 100%; height: 100%; background-image: url(../img/bg02.jpg); background-position: 50% 50%; background-repeat:no-repeat;}
    .work-list-li:last-child a {position: relative; display: block; width: 100%; height: 100%; background-image: url(../img/bg01.jpg); background-position: 50% 50%; background-repeat:no-repeat;}
    .work-list-li a {
        background-size: 100% auto;
        /* animation-name: focus-out;
        -webkit-animation-name: focus-out;
        -moz-animation-name: focus-out;
        animation-duration: 1s;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        animation-timing-function: ease-in-out;
        -webkit-animation-timing-function: ease-in-out;
        -moz-animation-timing-function: ease-in-out; */
    }

    /* @keyframes focus-out {
        from {
            background-size: 120% auto;
        }
        to {
            background-size: 100% auto;
        }
    }

    @-webkit-keyframes focus-out {
        from {
            background-size: 120% auto;
        }
        to {
            background-size: 100% auto;
        }
    }

    @-moz-keyframes focus-out {
        from {
            background-size: 120% auto;
        }
        to {
            background-size: 100% auto;
        }
    } */

    .work-list-li a{
        transition: all 1600ms ease-out;
        
    }
    .work-list-li a:hover{
        /* transition: all 2000ms ease-in-out; */
        /* transform: scale(1.2); */
        background-size: 120% auto;
    }




    .focus a {
        /* background-size: 120% auto;  */
        
        /* animation-name: focus-in;
        -webkit-animation-name: focus-in;
        -moz-animation-name: focus-in;
        animation-duration: 1s;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        animation-timing-function: ease-in-out;
        -webkit-animation-timing-function: ease-in-out;
        -moz-animation-timing-function: ease-in-out; */
        /* transition: all 2000ms ease-in-out; */
    }

    /* @keyframes focus-in {
        from {
            background-size: 100% auto;
        }
        to {
            background-size: 120% auto;
        }
    }

    @-webkit-keyframes focus-in {
        from {
            background-size: 100% auto;
        }
        to {
            background-size: 120% auto;
        }
    }

    @-moz-keyframes focus-in {
        from {
            background-size: 100% auto;
        }
        to {
            background-size: 120% auto;
        }
    } */


    .dark-box {position: relative; width: 100%; height: 100%; background-color: #00000044;}
    .work-about {position: absolute; bottom: 0; margin-bottom: -80px; display: block; width: 100%; height: 80px; background-color: rgba(0, 0, 0, 0.7);}
    .work-about h3 {position: absolute; bottom: 20px; left: 20px; font-size: 24px; font-weight: 700; color: #fff; height: 30px; line-height: 30px;}
    .work-about ul.work-sub {position: absolute; top: 10px; right: 5px;}
    .work-sub li {display: inline-block; font-size: 12px; background-color: #c3c3c3; color: #3c3c3c; padding: 2px 7px 3px; border-radius: 20px; margin-right: 4px;}

    #note {overflow: hidden; position: relative; width: 100%; height: 840px; background-color: #ddd;}
    .note-wrap {width: 100%;height: 100%; background-color: #ddd; margin: 0 auto;}
    .note-desc {position: absolute; z-index: 30; display: inline-block; width: 270px; margin-top: 140px; margin-left: 100px;}
    .note-desc h2 {font-size: 30px; font-weight: 700; text-transform: uppercase;}
    .note-desc p{}
    .slide-btn {position: relative; z-index: 25;}
    .prev-btn {}
    .next-btn {} 
    .note-slide {position: absolute; z-index: 20; width: 100%; top: 100px; left: 46.3%;}
    .note-slide-ul {width: 300%; margin-left: 0; }
    .note-slide-li {float: left; width: 600px; height: 600px; background-color: #fff; margin-right: 40px; opacity: 0.2;}
    .note-sel {    }
    .note-slide-li a {cursor: default; display: block; width: 600px;height: 600px;}
    .note-sel a {cursor: pointer;}


    #contact {position: relative; width: 100%; height: calc(100vh - 120px); background-color: #2f2f2f;}
    .contact-wrap {width: 100%;height: 100%;  margin: 0 auto;}
    .contact-design-box {position: relative; width: 760px; height: 340px; padding: 4px; margin-right: auto; margin-left: auto; border: 2px solid #ffffff66;}
    .contact-box {width: 760px; height: 340px; background-color: #ffffff66;}
    .contact-box h2 {position: relative; font-size: 42px; font-weight: 700; text-align: center; padding-top: 40px;}
    .contact-box p {text-align: center; font-size: 18px; margin-top: 10px;}
    .contact-box ul {width: 690px; height: 120px; margin-top: 30px; margin-right: auto; margin-left: auto;}
    .contact-box ul li {float: left; width: 220px; height:130px; margin: 0 5px; background-color: #ffffff;}
    .contact-box ul li dl {}
    .contact-box ul li dt {text-align: center; font-weight: 500; margin-bottom: 3px;}
    .contact-box ul li dt span {display: block; width: 30px; height: 30px;  margin: 12px auto 6px;}
    .contact-box ul li dt span.phone-icon {background-image: url(../img/phone.png); background-repeat: no-repeat; background-position: 0 0; background-size: 30px 30px;}
    .contact-box ul li dt span.address-icon {background-image: url(../img/location.png); background-repeat: no-repeat; background-position: 0 0; background-size: 30px 30px;}
    .contact-box ul li dt span.email-icon {background-image: url(../img/email.png); background-repeat: no-repeat; background-position: 0 0; background-size: 30px 30px;}
    .contact-box ul li dd {font-size: 14px; text-align: center;}

    .design-bar {display: block; width: 40px; height: 7px; margin-top: 6px; margin-bottom: 12px;background-color: #e2e2e2;}
}